asgiref==3.5.2
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
brotlipy @ file:///D:/bld/brotlipy_1666764804378/work
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
cffi @ file:///D:/bld/cffi_1666754925774/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
contourpy==1.0.6
cryptography @ file:///D:/bld/cryptography_1667423014790/work
cycler==0.11.0
debugpy @ file:///C:/ci_310/debugpy_1642079916595/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
dj-database-url==1.0.0
Django==4.1.3
entrypoints @ file:///C:/ci/entrypoints_1649926676279/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fonttools==4.38.0
gunicorn==20.1.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
ipykernel @ file:///C:/ci/ipykernel_1647000977835/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1651602003142/work
jedi @ file:///C:/ci/jedi_1644315428305/work
jupyter-client @ file:///C:/ci/jupyter_client_1650534191185/work
jupyter-core @ file:///C:/ci/jupyter_core_1651638076360/work
kiwisolver==1.4.4
matplotlib==3.6.2
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
nest-asyncio @ file:///C:/ci/nest-asyncio_1649848132512/work
numpy @ file:///D:/bld/numpy_1666788367319/work
packaging==21.3
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///D:/bld/pillow_1666920753896/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
psycopg2-binary==2.9.5
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1665350324128/work
pyparsing==3.0.9
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pywin32==302
pyzmq @ file:///C:/ci_310/pyzmq_1642090360481/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sqlparse==0.4.3
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tornado @ file:///C:/ci_310/tornado_1642093111997/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
tzdata==2022.6
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
whitenoise==6.2.0
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
