<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</head>

{% block heading %} TAG YOUR IMAGES {% endblock %}

{% block content %}

<div style="width = 50%;  margin-left: 25%;  margin-right: 25%; ">

    <form method="POST" action="/home/" class="dropzone dz" >
        {% csrf_token %}
        <div class="fallback">
            <input name="file" type="file" multiple>
        </div>

    </form>

    <div style=" margin-top: 20px; margin-left: 30%; margin-right: 30%; width: 40%; height: 50px;">
        <form action="/upload">
            <input type="submit" class="submit-button" value="Tag"/>
        </form>

    </div>
</div>
    {% endblock %}
</html>
