
body {
    background-color: #f8f8f8
}

.dz {
    border: dotted;
    border-color: #9999ff;
    border-radius: 15px;

    width: 100%;
    margin-top: 20px;
    font-family: "Monaco", monospace ;

}

.dz:hover {
    background-color: aliceblue;
}

.result_image {
    float:left;
    margin-left:70px;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius:10px;
    animation-name: fade;
    animation-duration: 1s;"
}

.submit-button {
    margin-left: 30%; width: 40%; height: 50px;
    border-radius: 10px;
    border-width: 2px;
    border-color: #9999ff;
    background-color: #9999ff;
    border-style: solid;
    color:white;
    font-family: "Monaco", monospace ;
}

.submit-button:hover {
    background-color: aliceblue;
}

@keyframes fade {
  0%   {opacity: 0;}
  100% {opacity: 100;}
}

.result-text {
    text-align: center;
    background-color:white;
    border-style:solid;
    height: 30px;
    border-radius:10px;
    border-color: #9999ff;
    border-width: 2px;
    float:left;
    min-width: 30px;
    max-width: 100px;
    margin-right: 10px;
}

.name-text {
    color:white;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height:40vh;
    font-family: "Monaco", monospace ;

    }
